@media only screen and (max-width : 1200px)
	/**/
	.int__options .opt__wrap
		text-align: center
	.int__options .opt__wrap .opt__ul ul li
		list-style-type: none
	.int__options .opt__wrap .opt__ul
		width: 50%
		margin-bottom: 40px
	.job__discript .first__part
		display: block
	.job__discript .first__part .owl-carousel
		margin: 0 auto
	.job__discript .first__part .our__service
		width: 50%
		display: block
		margin: 0 auto
		padding: 15px
		text-align: center
	.job__discript .first__part .owl-carousel .owl__wrap, .job__discript .first__part .owl-carousel .owl__wrap .comp__history, .job__discript .first__part .owl-carousel .owl__wrap .workman
		display: block
		width: 100%
		margin-top: 10px
	.job__discript .first__part .owl-carousel .owl__wrap h3,.job__discript .first__part .owl-carousel .owl__wrap h6
		text-align: center
		font-size: 25px

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1101px)
	/**/
	.calc__header
		display: block
	.calc__right, .calc__left h2
		text-align: center
	.calc__right
		box-shadow: 0 0 0
	.partnersenw__wrap .partnersenw__left .parters__listplus__wrap
		display: inline-block
		margin-left: 20px
	.partnersenw__wrap
		display: block
		text-align: center
	.partners__withoutshadow, .partnersenw__wrap .partnersenw__left .parters__listplus__wrap span
		margin-left: 0
	.roto__predmets .furn__wrap .roto__predmets__list ul li
		width: 50%
		margin-bottom: 15px
		list-style-type: none
	.axor__category__wrap
		+justify-content(center)
	.axor__category--left
		margin-bottom: 20px
	.dilers__about__cex .dilers__product__price .dilers__price__block
		width: 75%
		margin: 0 auto
		margin-bottom: 30px
	.header__container--mans h2
		text-align: center
		font-size: 35px
	.mans__about .mans__wrap .image__right, .mans__about .mans__wrap .image__left, .axor__wrap .axor__furnityrablock .mans__image
		float: none
		display: block
		margin: 0 auto
		box-shadow: 0 0 0
		margin-bottom: 20px
	.mans__about .mans__wrap
		padding-bottom: 30px
	.mans__about .mans__wrap .mans__left h6
		margin-top: 20px
		text-align: center
		display: block
	.integral h1
		font-size: 120px
	.contacts__wrap .contacts__about, .contacts__wrap .cont__client
		width: 100%
		text-align: center
		margin: 0
		margin-bottom: 35px
	.search__input input
		height: 40px
	.dostavka__carefull, .dostavka__constr
		text-align: center
		margin-bottom: 30px
	.header__menu .menu__left ul li a
		padding-bottom: 0
		margin-right: 14px
	.li__topmenu a:after
		margin-left: 3px
	.header__menu .menu__right
		margin: 0 auto
		padding-bottom: 15px
	.header__menu .menu__left
		+justify-content(center)
		width: 100%
	.dostavka .dostavka__plus .plus__block
		width: 100%
		margin-bottom: 50px
	.dostavka .dostavka__plus .plus__block:nth-child(2)
		margin-left: 0
	.news__wrap .news__block
		width: 100%
		margin: 0
		margin-bottom: 50px
	.partners__wrap div
		margin-bottom: 30px
	.products
		+justify-content(space-between)



/* Small Devices, Tablets */
@media only screen and (max-width : 992px)
	/**/
	.error__dig
		font-size: 300px
	.roto__head__wrap, .roto__head__wrap .header__axor
		display: block
		text-align: center
		margin-bottom: 20px
	.axor__wrap .axor__furnityrablock .axor__left
		width: 100%
	.contactspage__header h2
		text-align: center
		font-size: 33px
	.dilers__integral__opt .dilers__integral__form
		text-align: center
	.dilers__busines .dilers__busines__flex .busines__contain__box
		margin-bottom: 15px
		width: 30%

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.dilers__about__cex .dilers__product__price .dilers__price__block
		width: 100%
	.ostekl__choise__wrap .ostekl__choise--left, .ostekl__choise__wrap .ostekl__choise--right
		margin-bottom: 30px
		width: 100%
	.error__dig
		font-size: 180px
	.search__results
		text-align: center
	.header__partners--btn .partners__btn--transpar, .header__partners--btn button
		margin-bottom: 20px
		margin-right: 0
	.otzivi__form input, .otzivi__form textarea
		width: 100%
		transform: none
	.otzivi__content .otzivi__wrap--left, .otzivi__content .otzivi__wrap--right, .job__discript .first__part .our__service,
	.axor__products--left .axor__leftright__wrap, .axor__products--right .axor__leftright__wrap, .int__options .opt__wrap .opt__ul, .partnersenw__discription--left,
	.partnersenw__discription--center, .partnersenw__discription--right
		width: 100%
	.osteklenie__info .osteklenie__info--variants
		width: 100%
		margin-bottom: 25px
	.installmont__workabout .installmont__wrap .installmont__worksdiscript
		width: 100%
		padding: 0 15px
	.installmont__content .install__cont__wrap .install__cont__block
		margin-bottom: 60px
		width: 100%
	.roto__realize .realize__wrap h6
		text-align: center
		float: none
		font-size: 50px
		margin-bottom: 20px
	.axor__category__wrap .axor__category--left ul li a
		font-size: 15px
	.header__container--btn button
		padding: 20px 40px
	.dilers__busines .dilers__busines__flex .busines__contain__box div p
		position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
	.header__balckblock
		padding: 100px 0
	.header__container--mans h2, .header__balckblock h2
		font-size: 28px
	.akcii__head__span
		font-size: 25px
	.akcii__content__h2
		font-size: 35px
	.footer__wrap .foot__logo, .footer__wrap .wrap__prava, .footer__wrap .wrap__contact
		text-align: center
		width: 100%
	.integral h1
		font-size: 80px
	.integral__soc ul li
		margin-right: 20px
	.integral
		padding: 100px 0
	.dostavka .map
		display: none
	.hamburger
		display: block
	.menu__left ul
		display: none
		margin-bottom: 30px
	.search__input
		position: static
		.fa
			display: none
	.header__menu .menu__right ul li:first-child
		display: block
		margin-bottom: 30px
	.header__container
		h2
			font-size: 39px
		h4
			font-size: 22px
		h5
			font-size: 26px
			margin-bottom: 30px
			text-align: center
	.job__discript .first__part .owl-carousel .owl__wrap p
		font-size: 14px
		margin-top: 14px
	.job__discript .first__part .our__service span
		padding-bottom: 20px
		font-size: 15px
	.job__discript .first__part .our__service h6 span
		font-size: 18
	.products__item
		margin-bottom: 30px
	.hamburger
		display: block
	


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.error__dig
		font-size: 115px
	.roto__predmets .furn__wrap .roto__predmets__list ul li
		width: 100%
		margin-bottom: 30px
	.axor__category__wrap .axor__category--left ul li
		margin-bottom: 12px
	.axor__category--left
		text-align: center
	.axor__category--right
		display: block
	.axor__category--right span
		width: 100%
		text-align: center
		display: block
		margin-bottom: 10px
	.dilers__busines .dilers__busines__flex .busines__contain__box
		width: 52%
		margin: 0 auto
		margin-bottom: 15px
	.integral h1
		font-size: 30px
	.integral__soc ul li
		margin-right: 12px
	.job
		padding: 0
	.job__discript
		width: 100%

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

/* small */