@import 'smart-grid'
@import 'fonts'
@import 'vars'
@import 'libs'

+reset()

body
  font-family: $default-font
  a
  	text-decoration: none
  	color: #e7e7e7

input, button, textarea
	outline: none

.main
	+wrapper()
	min-width: 340px
	margin: 0
	padding: 0

.main__wrap
	max-width: 1170px
	margin: 0 auto

.form__fixed
	position: absolute
	background-color: rgba(0,0,0,.8)
	width: 100%
	height: 100%
	z-index: 1000
	text-align: center
	display: none
	.form__fixed__block
		position: fixed
		text-align: center
		background-color: white
		left: 35%
		transform: translateY(35%)
		h2
			color: #f0f0f0
			font-family: MC-900
			display: block
			text-align: center
			background-color: #e32424
			font-size: 26px
			text-transform: uppercase
			padding: 30px 0
			position: relative
			span
				position: absolute
				right: 3%
				cursor: pointer
				color: black
				text-transform: lowercase
				font-family: MC-700
				top: 5px
		h6
			color: #171717
			font-family: MC-700
			font-size: 15px
			display: block
			text-align: center
			margin-top: 50px
			margin-bottom: 40px
		form
			text-align: center
			input[type="text"]
				width: 75%
				padding: 20px
				border: 1px solid black
				margin-bottom: 30px
			input[type="submit"]
				background-color: #00a651
				color: black
				padding: 20px 60px
				border: none
				margin: 40px 0
				text-transform: uppercase
				cursor: pointer



.search__input
	display: none
	position: absolute
	left: -100%
	top: 35%
	z-index: 2
	input
		display: inline
		width: 300px
		height: 35px
		padding: 0 20px
		border-radius: 20px
	.fa
		font-size: 22px
		position: absolute
		right: 10px
		bottom: 6px
		cursor: pointer

.active__menu--li,.hover__menu--li
	a
		position: relative
		color: #dc3236
		transition: all .5s
		&:after
			color: #dc3236

h6
	font-family: MC-900
	span
		font-family: MC-900

.li__topmenu a
	position: relative
	&:after
		position: absolute
		content: '\2039'
		transform: rotate(-90deg)
		margin-left: 10px

.li__topmenu
	position: relative
	.topmenu__products
		display: none
		position: absolute
		background-color: #2c3844
		padding-top: 10px
		padding-bottom: 25px
		width: 300px
		z-index: 2
		& li
			display: block !important
			color: #9fa3a8
			font-size: 12px
			text-transform: uppercase
			line-height: 20px
			padding-left: 25px
			&:hover
				color: white !important
				background-color: #202932
				width: 100%
			a
				padding: 10px !important
				margin-right: 0 !important
				&:hover
					color: #dc3236 !important
				&:after
					content: ''

//baclkblock
.header__balckblock--black
	color: black
.header__balckblock--white
	color: white

.header__balckblock
	padding-top: 170px
	padding-bottom: 220px
	h2
		text-align: center
		font-family: MC-900
		font-size: 44px
		line-height: 48px
		text-transform: uppercase
		padding-bottom: 45px

//balckostekl

.ostekl__choise
	padding-top: 80px
	padding-bottom: 70px
	background-color: #bae2ff
	h4
		color: #262626
		font-family: MC-900
		text-transform: uppercase
		font-size: 26px
		line-height: 22px
		text-align: center
		padding-bottom: 45px
	&__wrap
		+row-flex()
		+justify-content(space-between)
		max-width: 1170px
		margin: 0 auto
		h6
			color: #262626
			font-family: MC-700
			font-size: 18px
			line-height: 22px
			text-transform: uppercase
			padding-bottom: 25px
			text-align: center
		p
			color: #262626
			font-size: 15px
			line-height: 22px
			text-align: center
		.ostekl__choise--left
			+col()
			+col-5()
			margin: 0
		.ostekl__choise--right
			+col()
			+col-5()
			margin: 0

.interesting__block
	padding: 80px 0

//

//logii

.osteklenie__info
	+row-flex()
	+justify-content(space-between)
	margin: 0 auto
	max-width: 1170px
	padding: 50px 0
	.osteklenie__info--variants
		+col()
		+col-4()
		margin: 0
	div
		text-align: center
		margin-bottom: 40px
	h6
		color: #262626
		font-family: MC-700
		font-size: 18px
		line-height: 22px
		text-transform: uppercase
		padding-bottom: 25px
		text-align: center
	p
		color: #262626
		font-size: 15px
		line-height: 22px
		text-align: center
		font-family: MC-700

//partENW

.header__partners
	padding-top: 145px
	padding-bottom: 120px
	h2
		text-transform: uppercase
		color: #0094de
		font-family: MC-900
		text-align: center
		font-size: 80px
		line-height: 1
		span
			display: block
			font-size: 36px
			padding-bottom: 40px
	.partn__header__info--black
		display: block
		text-align: center
		text-transform: uppercase
		font-family: MC-900
		font-size: 36px
		color: #1f1f1f
		padding-bottom: 50px
		.partn__header__info--red
			color: #f83438

.header__partners--btn
	text-align: center
	padding-bottom: 30px
	button
		padding: 20px 100px
		border: none
		font-size: 15px
		text-transform: uppercase
		cursor: pointer
		margin-right: 15px
		font-family: MC-900
	.partners__btn--red
		background-color: #ed1f24
		color: white
	.partners__btn--transpar
		background-color: transparent
		border: 1px solid black
		a
			color: black

.partners__withoutshadow
	margin: 0
	margin-left: 50px

.partnersenw__wrap
	+row-flex()
	+justify-content(space-between)
	margin: 0 auto
	max-width: 1170px
	padding-bottom: 70px
	.partnersenw__left
		margin: 0
		.parters__listplus
			margin: 0
			&__wrap
				+row-flex()
				+align-items(center)
				margin: 0
				margin-bottom: 30px
				span
					color: #1b1b1b
					font-family: MuseoSansCyrl
					font-size: 24px
					margin-left: 30px
				.parters__listplus__digitals
					border: 10px solid #0094de
					padding: 7px 15px
					span
						text-align: center
						display: block
						font-family: MC-900
						font-size: 36px
						margin: 0
						color: #0094de

.partnersenw__discription
	+row-flex()
	padding-top: 40px
	margin: 0 auto
	max-width: 1170px
	&--left, &--center, &--right
		+col()
		+col-4()
		margin: 0
		margin-left: 25px
		.partnersenw__list
			margin-top: 30px
			border-bottom: 2px solid #0094de
			h6
				color: #1e1e1e
				font-family: MC-900
				font-size: 18px
				padding-bottom: 20px
				text-transform: uppercase
			p
				color: #1e1e1e
				font-size: 15px
				line-height: 22px
				padding-bottom: 15px
				font-family: MC-700
			span
				display: block
				margin-bottom: 25px
				color: #00547e
				font-family: MC-700
				font-size: 15px
				line-height: 22px
			ul li
					list-style-type: disc
					color: #1e1e1e
					font-family: MC-700
					font-size: 15px
					line-height: 22px
					margin-bottom: 20px
					margin-left: 20px

//AXOR

.header__axor
	font-family: MC-900
	font-size: 36px
	text-transform: uppercase
	color: #191919
	text-align: center
	&--black
		color: black
	&--red
		color: #f73d42
	&--white
		color: white

.axor__category
	background-color: black
	padding: 20px 0
	&__wrap
		+row-flex()
		+justify-content(space-between)
		+align-items(center)
		margin: 0 auto
		max-width: 1170px
		.axor__category--left
			ul li
				display: inline-block
				a
					font-family: MC-700
					font-size: 18px
					text-transform: uppercase
					margin-right: 40px		
					color: #e2e2e2
					position: relative
					&:after
						content: '\2039'
						position: absolute
						transform: rotate(-90deg)
						margin-left: 10px
				    color: white    

.axor__category--right
	+row-flex()
	+justify-content(flex-end)
	+align-items(center)
	margin: 0
	span
		font-size: 15px
		color: #f14347
		margin-right: 30px
		span
			color: white
	.header__container--btn
		padding-bottom: 0

.axor__plusi
	+row-flex()
	+justify-content(space-between)
	margin: 0 auto
	max-width: 1170px
	padding-bottom: 60px
	div
		text-align: center
		span
			display: block
			color: #252525
			font-family: MC-900
			font-size: 18px
			line-height: 25px
			text-transform: uppercase
			padding-top: 20px

.axor__wrap
	margin: 0 auto
	max-width: 1170px
	p
		color: #262626
		font-family: MC-500
		font-size: 15px
		line-height: 22px
		padding-bottom: 30px
	.axor__furnityrablock
		+row-flex()
		+justify-content(space-between)
		+align-items(end)
		margin: 0
		.axor__left
			+col()
			+col-5()
			margin: 0
			h6
				font-family: MC-900
				font-size: 26px
				text-transform: uppercase
				color: #171717
				padding-top: 10px
				padding-bottom: 20px
				span
					color: #ff4343
		.mans__image
			margin: 0
			float: right
			margin-left: 50px
			box-shadow: 40px 40px 0 rgba(37,47,58,1)

.axor__products
	margin: 0 auto
	padding-top: 40px
	max-width: 1170px
	&--left, &--right
		+row-flex()
		+justify-content(space-between)
		margin: 0
		.axor__leftright__wrap
			+row-flex()
			+justify-content(space-between)
			+col()
			+col-6()
			margin: 0
			margin-bottom: 50px
			.axorproducts__leftpart
				+col()
				+col-5()
				margin: 0
			.axorproducts__rightpart
				+col()
				+col-7()
				margin: 0
			h6
				color: #262626
				font-family: MC-700
				font-size: 18px
				line-height: 22px
				text-transform: uppercase
				padding-bottom: 15px
			span
				display: block
				color: #262626
				font-size: 15px
				line-height: 22px
				font-family: MC-500


//partnFavorite

.about__favorite__right
	+col()
	+col-5()
	margin: 0
	.favorite__video__choice
		+row-flex()
		+justify-content(space-between)

.partners__favorite__padd
	padding-top: 80px

.header__partners--favorite
	div
		text-align: center
		padding-bottom: 30px
	span
		font-family: MC-900
		font-size: 36px
		color: white
		display: block
		text-align: center
		span
			color: #f73d42

.favorite__about
	background-color: #215aa9
	.mans__about .mans__wrap .mans__left
		h6, p
			color: white

.parnersleftright__wrap
	+row-flex()
	+justify-content(space-between)
	+col()
	+col-8()
	margin: 0
	.partnersenw__discription--center
		+col-6()
		margin: 0
	.partnersenw__discription--left
		+col-6()
		margin: 0

.partnersleftright__together
	margin-top: 30px
	border-bottom: 2px solid #0094de
	h6
		color: #1e1e1e
		font-family: MC-900
		font-size: 18px
		padding-bottom: 20px
		text-transform: uppercase
	p
		color: #1e1e1e
		font-size: 15px
		line-height: 22px
		padding-bottom: 15px
		font-family: MC-700
	span
		display: block
		font-family: MC-700
		font-size: 15px
		line-height: 22px

.partnersenw__sertificats
	+row-flex()
	+justify-content(space-between)
	+align-items(flex-end)
	max-width: 1170px
	margin: 0 auto
	padding: 40px 0
	h6
		color: #1e1e1e
		font-family: MC-900
		font-size: 18px
		text-transform: uppercase
		margin-bottom: 30px
	span
		display: block
		font-family: MC-700
		margin-bottom: 20px
		color: #1e1e1e
		font-size: 15px
		line-height: 22px
	&--left
		+col()
		+col-7()
		margin: 0
	&--right
		+col()
		+col-5()
		margin: 0
	h5
		text-align: center
		display: block
		font-family: MC-900
		padding-bottom: 30px
		padding-top: 10px
		border-bottom: 2px solid #0094de
		width: 100%

//404

.error__bcg
	padding-top: 150px
	padding-bottom: 60px
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	h6
		color: #6f6f6f
		font-family: MC-900
		font-size: 36px
		text-transform: uppercase
		text-align: center
		padding-top: 60px
	span
		color: #8b8b8b
		font-family: MC-700
		font-size: 24px
		text-transform: uppercase
		text-align: center
		display: block
		padding-bottom: 30px
		padding-top: 15px
	.error__dig
		+row-flex()
		+justify-content(space-between)
		max-width: 1230px
		margin: 0 auto
		text-shadow: 9.2px 7.7px 4px rgba(201, 189, 194, 0.7)
		color: #655e61
		font-size: 400px

.error__btn
	text-align: center
	padding-bottom: 30px
	a
		background-color: #ed1f24
		padding: 20px 100px
		border: none
		font-size: 15px
		text-transform: uppercase
		color: #fac3c5
		cursor: pointer

//
			

//PLS Otkosi

.owl-dots
	text-align: center
	position: relative
	bottom: 150px
	.owl-dot
		margin-right: 20px
		border: 1px solid white
		border-radius: 50%
		width: 30px
		height: 30px
		display: inline-block
		text-align: center
		position: relative
		&.active
			position: relative
			&:after
				content: ''
				position: absolute
				width: 15px
				height: 15px
				left: 7.5px
				top: 7px
				border-radius: 50%
				background-color: white

.pls__otkos
	position: relative

.otkos__wrap
	margin: 0 auto
	max-width: 1170px
	position: relative

.owl-nav
	opacity: 0.6
	color: white
	font-size: 30px
	position: absolute
	max-width: 1170px
	margin: 0 auto
	width: 100%
	top: 40%
	left: 0
	right: 0
	transform: translateY(-50%)
	.owl-prev
		position: absolute
		left: 0
	.owl-next
		position: absolute
		right: 0



.header__container--plsotkos
	padding-top: 170px
	padding-bottom: 220px
	h2
		text-align: center
		color: white
		font-family: MC-900
		font-size: 44px
		line-height: 48px
		text-transform: uppercase
		padding-bottom: 15px

.header__containerpls--skidka
	font-family: MC-700;
	line-height: 48px
	color: white
	font-size: 36px
	text-align: center
	text-transform: uppercase
	padding-bottom: 50px
	display: block
	span
		color: #ef3f43
		font-size: 36px

.plsotkos2__wrap
	+row-flex()
	+align-items(center)
	margin: 0
	.plsotk2--bcg
		+col()
		+col-6()
		margin: 0
		position: relative
		background-position: center
		background-size: 100% 100%
		height: 350px
		margin-right: 50px
		margin-left: 30px
		&:after
			position: absolute
			content: ''
			top: 30px
			height: 100%
			left: -30px
			bottom: 0
			right: 0
			width: 100%
			background-color: #252f3a
			z-index: -1
.plsotkos__info
	font-family: MC-700
	font-size: 18px
	line-height: 22px
	text-transform: uppercase
	color: #262626
	padding-bottom: 25px
	text-align: center
	max-width: 672px
	margin: 0 auto
	span
		color: #ed4044
//

	//Mansardn


.header__container--mans
	padding-top: 170px
	padding-bottom: 220px
	h2
		text-align: center
		color: white
		font-family: MC-900
		font-size: 44px
		line-height: 48px
		text-transform: uppercase
		padding-bottom: 45px
	
.header__container--btn
		text-align: center
		padding-bottom: 30px
		button
			background-color: #ed1f24
			padding: 20px 100px
			border: none
			font-size: 15px
			text-transform: uppercase
			color: #fac3c5
			cursor: pointer

.ostekl__obj--btn
	background-color: #ed1f24
	padding: 25px 40px
	border: none
	font-size: 15px
	margin-top: 30px
	text-transform: uppercase
	color: #fac3c5
	cursor: pointer
	display: inline-block

//

.mans__wrap--metall, .plsotkos__wrap
	+align-items(center)

.metall__cloud
	background-image: url(../img/mettallcloud.jpg)
	background-position: center
	background-size: cover
	padding: 80px 0
	h4
		color: #cc313c
		font-family: MC-900
		font-size: 18px
		line-height: 22px
		text-transform: uppercase
		text-align: center
		padding-bottom: 50px
	.metallcl__wrap
		+row-flex()
		+justify-content(space-between)
		margin: 0 auto
		max-width: 1170px
		div
			+col()
			+col-4()
			margin: 0
			color: #262626
			font-family: MC-500
			font-size: 15px
			line-height: 22px
			text-align: center

.metall__window
	padding-top: 60px
	padding-bottom: 75px
	.metallwindow__wrap
		+row-flex()
		+justify-content(space-between)
		+align-items(center)
		margin: 0 auto
		max-width: 1170px
		.metallwindow__img
			+col()
			+col-3()
			margin: 0
		.metallwindow__discript
			+col()
			+col-6()
			margin: 0
			padding-top: 50px
			p
				font-family: MC-700
				font-size: 15px
				line-height: 22px
				text-transform: uppercase
				color: #1e1e1e
				padding-bottom: 25px
				span
					color: #dc313c
	//

.mans__about
	padding-top: 85px
	padding-bottom: 80px
	.mans__wrap
		+row-flex()
		+justify-content(space-between)
		margin: 0 auto
		max-width: 1170px
		padding-bottom: 70px
		.mans__left
			margin: 0
			margin-bottom: 100px
			h6
				color: #262626
				font-family: MC-900
				font-size: 26px
				text-transform: uppercase
				display: inline-block
				margin-bottom: 20px
			ol li
				list-type-style: ''
				margin-top: 20px
				fonst-size: 15px
				font-family: MC-700
				color: black
			p
				margin-top: 15px
				color: #262626;
				font-family: MC-700
				font-size: 15px
				line-height: 22px
			span
				font-family: MC-900
				font-size: 26px
				text-transform: uppercase
			strong
				margin-top: 20px
			hr
				margin: 20px 0
		.image__right
			float: right
			margin-left: 50px
			margin-bottom: 40px
		.image__left
			float: left
			margin-right: 80px
			margin-bottom: 40px
		.mans__image
			position: relative
			box-shadow: 40px 40px 0 rgba(37,47,58,1)
		.mans__image__second
			box-shadow: -40px 40px 0 rgba(37,47,58,1)
			margin-right: 50px
			margin-left: 0
			img
				max-width: 100%
				&:after
					position: absolute
					content: ''
					top: 30px
					height: 100%
					left: 30px
					bottom: 0
					right: 0
					width: 100%
					background-color: #252f3a
				
	//

.search__results
	background-color: #ebebeb
	padding: 20px 0
	.results__wrap
		max-width: 1170px
		margin: 0 auto
		h6
			font-family: MC-700
			font-size: 18px
			text-transform: uppercase
			color: #0a0a0a
			span
				color: #f55155
			.results__calc
				font-family: MC-900

.product__prevnext
	text-align: center
	max-width: 1170px
	margin: 0 auto
	display: inherit
	.fa
		margin-top: 4px
		font-size: 14px
	.fa-chevron-left
		margin-right: 20px
	.fa-chevron-right
		margin-left: 20px
	ul li
		display: inline-block
		a
			cursor: pointer
			font-size: 22px
			line-height: 24px
			color: #686868
			margin-right: 7px
	a
		color: black

	.li__current
		a
			color: #e42a2e

	.news__prevnext li a:hover
		color: #e42a2e

.header
	background-size: cover
	background-position: center
	&__wrap
		background-color: #2c3844
	&__menu
		+justify-content(space-between)
		+row-flex()
		margin: 0 auto
		max-width: 1170px
		background-color: #2c3844
		padding-top: 10px
		position: relative
		.menu__left
			+row-flex()
			+justify-content(space-between)
			margin: 0
			padding: 0
			position: relative
			.header__logo
				margin-right: 18px
			ul li
				display: inline-block
				vertical-align: top
				a
					text-transform: uppercase
					font-family: 'MC-100'
					font-size: 14px
					margin-right: 26px
					padding-top: 45px
					padding-bottom: 45px
					cursor: pointer
					position: relative
					display: block
				.topmenu__last
					margin-right: 0
			.logo__img
				display: inline-block
				margin-right: 20px
		.menu__right
			position: relative
			ul
				+row-flex()
				+justify-content(space-between)
				padding-top: 40px
				margin-left: 5px
				position: relative
				li
					display: inline-block
					position: relative
					margin-right: 20px
					opacity: 1
					line-height: 18px
					color: white
					font-size: 18px
					a.header__icons
						width: 30px
						height: 30px
						border-radius: 50%
						border: 1px solid #db2127
						position: relative
						text-align: center
						line-height: 29px
						display: inline-block


					span:nth-child(3)
						color: #f6f6f6
						font-size: 12px
						float: right
					span
						white-space: nowrap

.header__container
	+offset-padding(2)
	padding-top: 130px
	padding-bottom: 50px
	text-transform: uppercase
	h4
		color: black
		font-family: MC-500
		font-size: 37px
	h2
		color: #e9e9e9
		font-family: MC-900
		font-size: 72px
		background-color: #ed1f24
		display: inline-block
		padding: 5px
		margin-bottom: 25px
	h5
		color: #121212
		font-family: MC-300
		font-size: 36px
		margin-bottom: 55px
	button
		background-color: #ed1f24
		padding: 20px 40px
		border: none
		font-size: 15px
		text-transform: uppercase
		color: #fac3c5
		cursor: pointer
		margin-bottom: 115px

.job
	margin-top: 80px
	+offset-padding(1)
	span
		&:first-child
			text-transform: uppercase
			text-align: center
			color: #24323e
			font-size: 15px
			display: block
	h6
		text-transform: uppercase
		font-size: 26px
		color: #e95d62
		text-align: center
		margin-top: 20px
		margin-bottom: 10px
	.job--second
			text-transform: uppercase
			color: #262626
			font-size: 26px
			text-align: center
			display: block
			font-weight: bold

.products
		+row-flex()
		+justify-content(center)
		+align-items(flex-start)
		margin: 0
		margin-top: 45px
		padding: 0
		text-align: center
		&__item
			+col()
			+col-4()
			margin: 0
			padding: 0
			span
				display: block
				margin-top: 10px
				text-transform: uppercase
				color: #292929
				font-family: MuseoSansCyrl
				font-size: 18px

.job__discript
	+col()
	+col-12()
	margin: 0 auto
	margin: 0
	margin-top: 80px
	.first__part
		display: flex
		align-items: center
		margin-bottom: 100px
		.owl-carousel
			margin: 0
			width: 73%
			.owl__wrap
				margin: 0
				display: flex
				align-items: center
				.workman
					width: 49%
					margin: 0
					display: inline-block
					img
						max-height: 450px
				.comp__history
					width: 49%
					display: inline-block
					margin-left: 1%
				h3
					font-family: MC-700
					text-transform: uppercase
					color: #e95d62
					font-size: 48px
				h6
					text-transform: uppercase
					color: #262626
					font-size: 36px
					text-align: left
					margin-top: 10px
				p
					margin-top: 20px
					color: #292929;
					font-family: "Myriad Pro"
					font-size: 15px
					font-weight: 400
					line-height: 22px
				.read__more
					display: inline-block
					margin-top: 25px
					text-align: left
					font-size: 12px
					line-height: 22px
					color: #d94040
					cursor: pointer
					span
						text-transform: lowercase
						display: inline-block
						font-size: 12px
						line-height: 22px
						color: #2f2f2f
				i
					margin-left: 10px
					display: inline-block
					cursor: pointer
					color: #a5a5a5

		.our__service
			width: 23%
			display: inline-block
			margin: 0
			background-color: #34495d
			text-transform: uppercase
			padding: 50px 15px 50px 20px
			h6
				font-size: 26px
				color: #f6f6f6
				display: inline-block
				text-align: left
				span
					color: #e95d62
					font-size: 26px
					display: inline
			span
				display: block
				color: #cdcdcd
				font-size: 18px
				padding-bottom: 75px
			.service__button
				text-align: center
				color: #f2f2f2
				font-size: 15px
				.back
					display: inline-block
					padding: 10px
					&:hover, &:hover a
						background-color: white
						color: black
					a
						margin-right: 10px
						position: relative
						cursor: pointer
					i
						margin-right: 5px
				.forward
					display: inline-block
					padding: 10px
					&:hover, &:hover a
						background-color: white
						color: black
					a
						margin-left: 10px
						position: relative
						cursor: pointer
					i
						margin-left: 5px
				
.advantage
	+offset-padding(1)
	padding-top: 60px
	padding-bottom: 120px
	background-image: url(../img/ops.jpg)
	background-position: center
	position: relative
	.adv__wrap
		z-index: 3
		position: relative
		h6
			font-family: MuseoSansCyrl
			font-size: 26px
			text-transform: uppercase
			color: whitesmoke
			text-align: center
			span
				color: #f55358
		.products
			z-index: 2
			&__item img
				height: 66px	
			span
				color: white

.dostavka
	+offset-padding(2)
	z-index: 3
	padding-bottom: 50px
	padding-top: 75px
	background-image: url(../img/dostavka__fon.jpg)
	background-position: center
	background-size: cover
	&__wrap
		+row-flex()
		.dostavka__carefull
			+col()
			+col-6()
			margin-left: 10px
			text-transform: uppercase
			font-size: 26px
			h6
				color: #e03d3d
				font-family: MC-700
			span
				color: #262626
		.dostavka__constr
			+col()
			+col-6()
			p
				font-size: 15px
				line-height: 22px
				color: #131313
				span
					color: #e03d36
	.dostavka__plus
		+row-flex()
		+justify-content(space-between)
		margin: 0
		margin-top: 45px
		padding-bottom: 80px
		text-transform: uppercase
		.plus__block
			+col()
			+col-4()
			margin: 0
			margin-right: 10px
			position: relative
			font-family: MC-500
			&:nth-child(2)
				margin-left: 45px
			.kvadrat
				position: absolute
				left: 0
				top: -15px
				width: 80px
				height: 80px
				border: 10px solid #596d80
				z-index: 1
			span
				color: #262626
				display: inline-block
				font-size: 18px
				line-height: 25px
				background-color: white
				position: relative
				z-index: 2
				left: 20px
				padding: 0 5px
	.map
		background-image: url(../img/krim.png)
		background-position: center
		background-size: contain
		background-repeat: no-repeat
		min-height: 600px

.news
	padding-top: 70px
	padding-bottom: 80px
	h6
		font-size: 26px
		text-align: center
		text-transform: uppercase
		font-family: MC-900
		color: #db4042
		span
			color: #262626
			font-family: MC-900
	&__wrap
		+offset-padding(1)
		+row-flex()
		+justify-content(center)
		margin: 0
		margin-top: 50px
		.news__block
			+col()
			+col-3()
			margin: 0
			margin-right: 50px
			background-color: #efefef
			.block__img
				background-image: url(../img/news1.jpg)
				background-position: center
				background-size: 100% 100%
				background-repeat: no-repeat
				min-height: 218px
			.block__other
				padding: 30px 25px 50px 25px
				.other__first
					text-transform: uppercase
					color: #262626
					font-family: MC-500
					font-size: 18px
					display: block
					padding-bottom: 10px
				.other__date
					color: #262626
					font-size: 12px
				.other__discript
					margin-top: 10px
					margin-bottom: 30px
					color: #141414
					font-family: MC-500
					font-size: 15px
				.read__all
					color: #2f2f2f
					cursor: pointer
					font-size: 12px
					line-height: 22px
					span
						color: #d94040
					.fa
						font-size: 14px
						color: grey
						margin-left: 5px

.partners
	padding-top: 85px
	padding-bottom: 80px
	background-image: url(../img/partners.jpg)
	background-position: center
	background-size: 100% 100%
	h6
		text-transform: uppercase
		text-align: center
		font-size: 26px
		color: #d83537
		margin-bottom: 55px
		span
			color: #e6e6e6
	&__wrap
		+offset-padding(2)
		+row-flex()
		+justify-content(center)
		+align-items(center)
		margin: 0
		div
			+col()
			+col-3()
			margin: 0
			text-align: center

.contacts
	padding-top: 80px
	+offset-padding(2)
	padding-bottom: 40px
	&__wrap
		+row-flex()
		margin: 0
		.contacts__about
			+col()
			+col-5()
			margin: 0
			text-align: left
			h6
				text-transform: uppercase
				font-size: 26px
				color: #d83537
				margin-bottom: 25px
				font-family: MC-900
			span
				color: black
			.cont__block
				.cont__name
					text-transform: uppercase
					color: #0c0c0c
					font-size: 18px
					line-height: 25px
					display: block
					margin-top: 25px
					margin-bottom: 15px
					font-family: MC-900
				span
					color: #0c0c0c
					font-size: 15px
					line-height: 25px
					display: block
					margin-bottom: 10px
					font-family: MC-700
					.fa
						color: #e03d3d
						margin-right: 7px
						font-size: 20px
			.cont__time
				span
					color: #0c0c0c
					font-size: 15px
					line-height: 25px
					display: block
					margin-bottom: 10px
					font-family: MC-700
				.time__regim
					text-transform: uppercase
					color: #0c0c0c
					font-size: 18px
					line-height: 25px
					display: block
					margin-top: 25px
					margin-bottom: 15px
					font-family: MC-900
		.cont__client
			+col()
			+col-5()
			margin: 0
			+offset-left(2)
			text-align: left
			.form__error--sec, .form__error--first
				text-transform: uppercase
				font-family: MC-900
				font-size: 22px
				color: #f55358
				display: none
				margin-top: 10px
				margin-bottom: 10px
			span
				font-family: MC-700
				font-size: 18px
				text-transform: uppercase
				color: #787878
				span
					color: #d83537
			p
				color: #787878
				font-family: MC-500
				font-size: 15px
				margin-top: 18px
				margin-bottom: 50px
			h6
				font-family: MC-900
				font-size: 18px
				line-height: 25px
				color: #d83537
				text-transform: uppercase
				margin-bottom: 26px
				text-align: center
				span
					color: #0c0c0c
			form
				input[type="text"]
					display: block
					width: 100%
					padding: 15px
					border: 1px solid black
				textarea
					width: 100%
					padding: 15px
					border: 1px solid black
					resize: none
				input[type="submit"]
					display: block
					text-transform: uppercase
					background-color: #ed1f24
					color: #f5888a
					font-family: MC-500
					font-size: 15px
					line-height: 25px
					border: none
					width: 100%
					margin-top: 40px
					padding: 20px

.integral
	padding-top: 370px
	padding-bottom: 130px
	background-image: url(../img/integmap.jpg)
	background-position: center
	background-size: 100% 100%
	background-repeat: no-repeat
	h1
		font-size: 150px
		line-height: 22px
		text-transform: uppercase
		font-family: MC-900
		text-align: center
		color: #cb3133
	&__soc
		text-align: center
		margin-top: 100px
		span
			color: white
			font-family: MC-700
			font-size: 18px
			line-height: 25px
			text-transform: uppercase
			display: inline-block
			margin-bottom: 30px
		ul
			li
				display: inline-block
				text-align: center
				margin-right: 50px
				height: 40px
				width: 40px
				border: 1px solid #c4c7c8
				border-radius: 50%
				position: relative
				cursor: pointer
				&:first-child
					.fa
						left: 13px
				&:nth-child(3)
					.fa
						left: 8px
				.fa
					color: white
					font-size: 20px
					position: absolute
					top: 9px
					left: 10px

.int__options
	+offset-padding(2)
	background-color: #34495d
	padding-top: 30px
	padding-bottom: 50px
	.opt__wrap
		+row-flex()
		+justify-content(space-between)
		margin: 0
		.opt__ul
			+col()
			+col-3()
			margin: 0
			ul
				li
					color: #ffffff
					list-style-type: square
					font-size: 15px
					line-height: 26px

.footer
	background-color: #1e2e3d
	+offset-padding(2)
	padding-top: 30px
	padding-bottom: 20px
	&__wrap
		+row-flex()
		+justify-content(space-between)
		margin: 0
		.foot__logo
			+col()
			+col-3()
			margin: 0
		.wrap__prava
			+col()
			+col-6()
			margin: 0
			padding-top: 65px
			h6
				color: #e2e2e2
				font-family: MC-700
				font-size: 18px
				line-height: 26px
				text-transform: uppercase
				text-align: center
			span
				color: #aeb2b6
				font-size: 12px
				line-height: 26px
				text-align: center
				display: block
				margin-top: 6px
		.wrap__contact
			+col()
			+col-3()
			margin: 0
			color: #d2d2d2
			padding-top: 65px
			.phone
				line-height: 30px
				font-size: 24px
				display: block
			.mail
				font-size: 18px
		.footer__social
			margin-top: 25px
			ul li
				display: inline-block
				margin-right: 14px


.input__text 
    margin-top: 20px
    &:first-chlid 
        margin-top: 0
.header__menu ul li ul .active__menu--li
    a
        color: #dc3236 !important
.contacts__wrap .cont__client span.error		
	color: red		
	font-size: 12px
.form
	textarea
		margin-top: 20px

.roto__head__wrap
	display: flex
	align-items: center
	max-width: 1170px
	margin: 0 auto
	.header__axor
		text-align: left

.roto__category
	background-color: #555555
	padding: 20px 0


.roto__realize
	.realize__wrap
		max-width: 1170px
		margin: 0 auto
		h6
			color: #262626
			font-family: MC-900
			font-size: 52px
			margin-right: 30px
			float: left
		p
			color: #262626
			font-family: MC-500
			font-size: 15px
			line-height: 22px
			margin-bottom: 40px

.furn__buy
	background-color: #d7d7d7
	padding: 60px 0
	.furn__wrap
		max-width: 1170px
		margin: 0 auto
		h6
			font-family: MC-900
			font-size: 18px
			line-height: 24px
			text-transform: uppercase
			color: #262626
			text-align: center

.roto__predmets
	padding: 100px 0
	.furn__wrap
		max-width: 1170px
		margin: 0 auto
		.roto__predmets__list
			padding-bottom: 40px
			margin: 0
			ul
				+row-flex()
				+justify-content(space-between)
				li
					text-align: center
				a
					color: #262626
					font-family: MC-700
					font-size: 16px
					text-transform: uppercase
					position: relative
					&:after
						position: absolute
						content: '\2039'
						transform: rotate(-90deg)
						margin-left: 10px

.lox
	+row-flex()
	+justify-content(space-between)

.dilers__about__cex
	padding: 80px 0
	h6
		font-family: MC-900
		text-align: center
		padding-bottom: 30px
		font-size: 26px
		text-transform: uppercase
	p
		color: #131313
		font-family: MC-900
		padding-bottom: 40px
		text-align: center
		font-size: 18px
		text-transform: uppercase
	.dilers__product__price
		+row-flex()
		+justify-content(space-between)
		+align-items(flex-start)
		margin: 0
		.dilers__price__block
			+col()
			+col-4()
			margin: 0
			background-color: #d7d7d7
			text-align: center
			.product__price__head
				background-color: #24313d
				padding: 30px 15px
				h6
					margin-bottom: 20px
					padding: 0
					color: white
				span
					padding: 0
					color: #f5272d
					font-size: 26px
					text-transform: uppercase
					font-family: MC-700
			span
				display: block
				color: #121212
				font-family: MC-900
				font-size: 15px
				text-transform: uppercase
				line-height: 30px
				padding: 20px 0

.dilers__integral__opt
	padding-top: 80px
	background-position: center
	background-size: cover
	position: relative
	.dilers__opt__wrap
		+row-flex()
		+justify-content(space-between)
		margin: 0
		.dilers__opt__block
			+col()
			+col-4()
			margin: 0
			text-align: center
			margin-bottom: 60px
			span
				display: block
				color: #e9e9e9
				font-family: MС-700
				font-size: 18px
				text-transform: uppercase
	.dilers__integral__form
		padding-top: 80px
		padding-bottom: 100px
		background-color: #cf7575
		position: relative
		bottom: -80px
		h6
			color: white
			font-family: MC-700
			font-size: 18px
			text-transform: uppercase
			text-align: center
			margin-bottom: 40px
			span
				font-family: MC-900
		.dilers__form
			+row-flex()
			max-width: 770px
			margin: 0 auto
			div
				width: 48%
				margin-right: 10px
				input
					width: 100%
					margin-right: 10px
					border: none
					font-size: 15px
					padding: 20px 40px
					text-transform: uppercase
					cursor: pointer
					font-family: MC-900
					background-color: #ed1f24
					color: white
					margin-bottom: 20px
				span
					color: red		
					font-size: 22px
					display: block
					margin: 20px 0
			input[type="text"], input[type="mail"]
				border: 1px solid white
				background-color: transparent
				text-align: left
			input[type="submit"]
				background-color: #ed1f24
				text-align: center

.dilers__busines
	padding-top: 170px
	padding-bottom: 80px
	h6
		text-align: center
		color: black
		font-family: MC-900
		font-size: 26px
		text-transform: uppercase
		margin-bottom: 40px
	.dilers__busines__flex
		+row-flex()
		+justify-content(space-between)
		+align-items(flex-start)
		.busines__contain__box
			width: 19%
			margin-right: 1%
			div
				height: 215px
				background-color: #1e2e3d
				padding: 70px 0
				text-align: center
				color: #efefef
				font-family: MC-900
				font-size: 18px
				text-transform: uppercase
			img
				height: 215px


.dilers__span__bcg
	font-family: MC-900
	font-size: 18px
	text-transform: uppercase
	margin-top: 30px
	display: block
	line-height: 1.5

.h6__mainstyle
	color: #262626
	font-family: MC-900
	font-size: 26px
	text-transform: uppercase
	display: block
	margin-bottom: 50px
	text-align: center

.akcii__content__about
 	h3
		font-family: MC-700
		font-size: 18px
		line-height: 24px
		padding-bottom: 20px
		span
			font-size: 18px

.akcii__content__h2
	color: #0d0d0d
	font-family: MC-900
	font-size: 55px
	line-height: 60px

.akcii__left
	margin-bottom: 80px
	span
		color: #1c1c1c
		font-family: MC-900
		font-size: 18px
		line-height: 24px
	p
		font-size: 15px
		margin-top: 20px
		line-height: 20px
	.akcii__span
		font-family: MC-700
		font-size: 18px
		line-height: 24px
		margin-top: 20px
		display: block

.contactspage__header
	h2
		font-family: MC-900
		font-size: 44px
		line-height: 57px
		text-transform: uppercase
		color: white
		text-align: left
		padding: 220px 0

.contacts__header__about
	text-align: center
	margin-top: 20px
	margin-bottom: 50px
	font-family: MC-900
	text-transform: uppercase
	h6
		color: black
		font-size: 26px
		line-height: 57px
	span
		font-size: 20px
		display: block
	p
		color: black
		font-size: 18px
		margin-top: 30px

.contacts__questions
	text-align: center
	.contacts__questions--discript
		font-size: 15px
		line-height: 22px
		color: #0c0c0c
		span
			color: red
			margin-top: 10px
			display: block

.contact__map iframe
	width: 100%
	height: 500px
	border: 0

.newsblock
	padding-top: 75px
	h4
		font-family: MC-900
		font-size: 26px
		text-transform: uppercase
		color: #262626
	&__wrap
		+row-flex()
		+justify-content(space-between)
		+align-items(flex-start)
		margin: 0
		.newsblock--left
			+col()
			+col-12()
			margin: 0
		.newsblock__left__container
			margin-top: 30px
			margin-bottom: 50px
			img
				width: 100%
			h6
				color: #131313
				font-family: MC-900
				font-size: 18px
				text-transform: uppercase
				display: block
				margin-top: 25px
			.other__date
				color: #909090
				font-size: 12px
				margin: 15px 0
				display: block
			p
				color: #141414
				font-family: MC-700
				font-size: 15px
				margin-bottom: 30px
			a
				font-size: 12px
				line-height: 22px
				color: #2f2f2f
				span
					color: #d94040

.news__prevnext
	display: inline-block
	margin-bottom: 50px
	

.inthistory__otzivi
	background-color: #555555
	padding: 30px 0
	text-align: center
	color: #e2e2e2
	a
		font-family: MC-900
		font-size: 18px
		text-transform: uppercase
		margin-right: 80px
		cursor: pointer

.inthistory__list 
	li
		margin-top: 30px
		color: #262626
		font-family: MC-700
		font-size: 15px
		line-height: 22px
		list-style-type: disc

.inthistory__active
	color: white

.installmont__content
	background-color: #ebebeb
	padding: 75px 0
	h4
		color: #151515
		font-family: MC-900
		text-align: center
		padding-bottom: 40px
		font-size: 26px
		line-height: 22px
	.install__cont__wrap
		+row-flex()
		+justify-content(space-between)
		margin: 0
		.install__cont__block
			+col-4()
			margin: 0
			position: relative
			margin-bottom: 60px
			h6
				color: #151515
				font-family: MC-900
				font-size: 18px
				text-align: center
				line-height: 24px
				text-transform: uppercase
			span
				position: absolute
				opacity: 0.35
				color: #3394ff
				font-family: MC-900
				font-size: 90px
				line-height: 24px
				width: 100%
				text-align: center
				top: 0

.installmont__workabout
	padding: 80px 0
	h4
		font-family: MC-900
		font-size: 26px
		color: #151515
		text-transform: uppercase
		text-align: center
	.installmont__wrap
		+row-flex()
		+justify-content(space-between)
		margin: 0
		.installmont__worksdiscript
			+col-4()
			margin: 0
			text-align: center
			h6
				color: #151515
				font-family: MC-700
				font-size: 18px
				text-transform: uppercase
				padding-bottom: 40px
				margin-top: 40px
			p
				color: #151515
				font-family: MC-700
				font-size: 15px
				line-height: 22px
				padding-bottom: 50px

.windowrepeat__golova
	font-family: MC-900
	font-size: 26px
	text-transform: uppercase
	text-align: center
	color: #262626
	margin-bottom: 30px

.otzivi__content
	padding-top: 80px
	padding-bottom: 150px
	.otzivi__wrap
		+row-flex()
		+justify-content(space-between)
		margin: 0
		h6
			color: black
			padding: 30px 0
			font-family: MC-900
			font-size: 18px
			text-transform: uppercase
			text-align: center
		p
			color: black
			font-family: MC-700
			font-size: 15px
			line-height: 22px
			padding-bottom: 30px
		&--left,&--right
			+col()
			+col-5()
			margin: 0

.showmore--btn
	text-align: center
	padding-top: 20px
	a
		text-align: center
		padding: 15px 60px
		text-transform: uppercase
		color: #d1d1d1
		border: 1px solid #d1d1d1

.otzivi__letthis
	color: #0f0f0f
	font-family: MC-900
	font-size: 18px
	text-transform: uppercase
	display: block
	text-align: center
	margin-top: 80px

.otzivi__form
	text-align: center
	input,textarea
		width: 51%
		display: block
		padding: 20px
		border: 1px solid black
		transform: translateX(50%)
		margin: 20px 0
	input[type="submit"]
		background-color: #ed1f24
		color: white
		text-transform: uppercase
		border: none
	textarea
		padding: 15px
		border: 1px solid black
		resize: none
		overflow: hidden

@import 'media'